.text_small {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #fff;
}

.text_large {
    font-family: Poppins;
    font-size: 55px;
    font-weight: 700;
    line-height: 84.81px;
    letter-spacing: 0.03em;
    text-align: left;

    color: #fff;
}

.text_avarage {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #fff;
    
}

.custom-color {
    color: #CF1D1D;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.03em;
    text-align: left;    

}

.navbar-transparent {
    background-color: transparent !important;
    border: none;
}

.navbar-transparent .navbar-brand,
.navbar-transparent .nav-link {
    color: #fff !important;
}

.container-header {
    max-width: 1300px !important;
}

.btn-custom-red {
    background-color: #CF1D1D !important;
    color: white;
    border-radius: 3px;
    width: 17%;
    border: #CF1D1D !important;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 15px 30px !important; 
}
.btn-contact-red {
    background-color: #CF1D1D !important;
    color: white;
    border-radius: 3px;
    width: 12%;
    border: #CF1D1D !important;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 10px 10px !important;
}

.btn-custom-white {
    background-color: white !important;
    color: #202020 !important;
    border-radius: 3px;
    width: 17%;
    border: white !important;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height:30px;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 15px 30px !important; 
}

.gap-25 {
    gap: 25px;
}
.text-footer-1{
    font-family: Poppins;
        font-size: 13px;
        font-weight: 400;
        line-height: 20.15px;
        letter-spacing: 0.03em;
        text-align: justified;
        color: #F8F8F8;;
}
   .custom-li {
       list-style: none;
       padding: 0;
   }

   .footer ul .custom-li {
       display: inline-block;
       margin: 10px;
       align-items: center;
   }

   .footer ul .custom-li a {
       display:flex;
       justify-content: center;
       width: 40px;
       height: 40px;
       line-height: 50px;
       border-radius: 50%;
       background-color: #CF1D1D;
       color: white;
       text-align: center;
       font-size: 20px;
   }
   .text-li-footer-main{
    font-family: Poppins;
        font-size: 20.28px;
        font-weight: 700;
        line-height: 30.42px;
        text-align: left;
        color: #ffff;
   }
   .text-li-footer-sub{
    font-family: Poppins;
        font-size: 18.03px;
        font-weight: 300;
        line-height: 40.56px;
        text-align: left;
        color: #ffff !important;
   }
   .nav-link{
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.03em;
        text-align: left;
        color: #F8F8F8;
   }
   